.star-rating {
    line-height: 40px;
    font-size: 2.50em;
    cursor: pointer;
    padding-left: 30px;
}     
.month {width: 96px;}
.day {width: 96px;}
.year {width: 96px;}
fieldset {display: inline-block;}
.profmonth {width: 90px;}
.profday {width: 90px;}
.profyear {width: 90px;}
/*fieldset {display: inline !ie7;  IE6/7 need display inline after the inline-block rule }*/

/*Angular Material */
/*.listdemoListControls {
   Add some right padding so that the text doesn't overlap the buttons  }
  .listdemoListControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px; }
  .listdemoListControls md-list-item > p,
  .listdemoListControls md-list-item > .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
     Chrome all / Safari all 
    -moz-user-select: none;
     Firefox all 
    -ms-user-select: none;
     IE 10+ 
    user-select: none;
     Likely future  }
  .listdemoListControls .secondary-button-padding p {
    padding-right: 100px; }
  */

  section#homeContent {
     /* min-height: 74px; */
     /* padding-top: 8px; */
     margin-top: 500px;
     text-align: left;
     background: #2b542c;
     float: outside;
     position: absolute;
     left: 120px;
     top: 0px;
     /*background-color: green;*/
     z-index: 1000;
     /* margin-bottom: -16px; */
}