
<div class="page-title-container">
    <div class="container">
        <div class="page-title pull-left">
            <h2 class="entry-title">Contact Us</h2>
        </div>
        <ul class="breadcrumbs pull-right">
            <li><a href="#index">HOME</a></li>
            <!--<li><a href="#">PAGES</a></li>-->
            <li class="active">Contact Us</li>
        </ul>
    </div>
</div>
<section id="content">
    <div class="container">
        <div id="main">
            <div class="travelo-google-map block"></div>
            <div class="row">
                <div class="col-sm-4 col-md-3">
                    <div class="travelo-box contact-us-box">
                        <h4>Contact us</h4>
                        <ul class="contact-address">
                            <li class="address">
                                <i class="soap-icon-address circle"></i>
                                <h5 class="title">Address</h5>
                                <p>United States of America.</p>
                                <p>P.O Box,  353 Three Avenue.</p>
                            </li>
                            <!--                            <li class="phone">
                                                            <i class="soap-icon-phone circle"></i>
                                                            <h5 class="title">Phone</h5>
                                                            <p>Local: 1-800-123-hello</p>
                                                            <p>Mobile: 1-800-123-hello</p>
                                                        </li>-->
                            <li class="email">
                                <i class="soap-icon-message circle"></i>
                                <h5 class="title">Email</h5>
                                <p>info@tourgoat.com</p>
                                <p>www.Tourgoat.com</p>
                            </li>
                        </ul>
                        <ul class="social-icons full-width">
                            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="soap-icon-twitter"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="GooglePlus"><i class="soap-icon-googleplus"></i></a></li>
                            <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="soap-icon-facebook"></i></a></li>
                            <!--                                    <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="soap-icon-linkedin"></i></a></li>
                                                                <li><a href="#" data-toggle="tooltip" title="Vimeo"><i class="soap-icon-vimeo"></i></a></li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-sm-8 col-md-9">
                    <div class="travelo-box">
                        <form class="contact-form" method="post" ng-submit="sendMessage()">
                            <h4 class="box-title">Send us a Message</h4>
                            <div class="row form-group">
                                <div class="col-xs-3">
                                    <label>First Name</label>
                                    <input type="text" name="name" ng-model="firstName" class="input-text full-width" maxlength="30" ng-pattern-err-type="onlyText" ng-pattern="/^[a-zA-Z]+$/" required="">
                                </div>
                                <div class="col-xs-3">
                                    <label>Last Name</label>
                                    <input type="text" name="name" ng-model="lastName" class="input-text full-width" maxlength="30" ng-pattern-err-type="onlyText" ng-pattern="/^[a-zA-Z]+$/" required="">
                                </div>
                                <div class="col-xs-6">
                                    <label>Your Email</label>
                                    <input type="text" name="email" ng-model="emailAddress" class="input-text full-width" required="" maxlength="60" >
                                </div>
                            </div>
                             <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" name="name" ng-model="subject" class="input-text full-width" placeholder="Subject" maxlength="60" ng-pattern-err-type="subjectMsg" ng-pattern="/^[ \w#-.,]+$/" required="">
                                </div>
                            <div class="form-group">
                                <label>Your Message</label>
                                <textarea name="message" ng-model="message" rows="6" class="input-text full-width" placeholder="Write message here" ng-pattern-err-type="aboutYouErrMsg" ng-pattern="/^[ \w#-.,]+$/" required=""></textarea>
                            </div>
                            <button type="submit" class="btn-large full-width" >SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script type="text/javascript">
    tjq(".travelo-google-map").gmap3({
        map: {
            options: {
                center: [41.881832, -87.623177],
                zoom: 12
            }
        },
        marker: {
            values: [
                {latLng: [41.881832, -87.623177], data: "Chicago"}

            ],
            options: {
                draggable: false
            },
        }
    });
</script>

