
<head>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/Ladda/0.9.7/ladda.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda-themeless.min.css">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/ladda-bootstrap/0.9.4/ladda.min.css">       
</head>

<div ng-show="emailSentMessage" class="alert alert-success">
    <span><b>An email has been set to {{emailAddress}} with a link to a page where you can change your password!</b></span>
    <span class="close"></span>
</div>

<div ng-show="errorType.lastPassword" class="alert alert-error">
          <span><b>Please type a different password. You cannot repeat your previous password;</b></span>
          <span class="close"></span>
 </div>

<div class="container" ng-show="resetPassword">
    <div class="row" >
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Forgot Your Password?</h2><br>
                <form id="resetPasswordForm"  ng-submit="passwordReset(emailAddress)" name="resetPasswordForm">

                    <label>Reset password for:</label>
                    <div class="form-group has-feedback">
                        <input class="form-control input-lg" id="emailAddress" type="email"  name="emailAddress" ng-model="emailAddress" placeholder="enter email" required>
                        <span class="ion-key form-control-feedback"></span>
                    </div>
                    <div class="form-group has-feedback">
                        <button ladda="resetBtnLoading" data-style="slide-left" data-size="xs" type="submit" ng-disabled="resetPasswordForm.$invalid" class="btn btn-lg  btn-block btn-success" style="background-color: #0f9d58">Reset</button><br>
                        <a href="#/login"><button class="btn btn-lg  btn-block btn-warning" >Cancel</button></a>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>


<div ng-controller="PasswordResetCtrl" class="container" ng-show="newPassword">
    <div class="row" >
        <div class="center-form panel">
            <div class="panel-body">
                <h2 class="text-center">Please enter a new password!</h2><br>

                <form id="newPassword" method="post" ng-submit="changePassword()" name="changePasswordForm"  novalidate="novalidate">

                    <div class="form-group has-feedback" ng-class="{ 'has-error' : changePasswordForm.password.$invalid && changePasswordForm.password.$dirty }">
                        <input password-strength class="form-control input-lg" id="password"  max="30" type="password" name="password" ng-model="password" placeholder="Password" required>

                        <span class="ion-key form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="changePasswordForm.password.$dirty" ng-messages="changePasswordForm.password.$error">
                            <div ng-message="passwordRequired"></div>
                        </div>
                        <label>Password Strength</label>
                        <password-strength ng-model="password"></password-strength>
                    </div>
                    <div class="form-group has-feedback" ng-class="{ 'has-error' : changePasswordForm.confirmPassword.$invalid && changePasswordForm.confirmPassword.$dirty }">
                        <input password-match="password" class="form-control input-lg"  max="30" type="password" name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password">
                        <span class="ion-key form-control-feedback"></span>
                        <div class="help-block text-danger" ng-if="changePasswordForm.confirmPassword.$dirty" ng-messages="changePasswordForm.confirmPassword.$error">
                            <div ng-message="passwordMismatch"></div>
                        </div>
                    </div>

                    <div class="form-group has-feedback">
                        <button ladda="resetBtnLoading" data-style="slide-left" data-size="xs" type="submit" ng-disabled="changePasswordForm.$invalid" class="btn btn-lg  btn-block btn-success" style="background-color: #0f9d58">Reset</button><br>
                        <a href="#/login"><button ng-disabled="resetBtnLoading" class="btn btn-lg  btn-block btn-warning" >Cancel</button></a>
                    </div>


                </form>
            </div>
        </div>

    </div>
</div>

